:root {
    --max-page-width: 1440px;
    --min-side-margin: 70px;
    --page-change-transition-time: 1s ease;
    --back-button-size: 70px;
    --back-button-margin: 20px;
    --progress-bar-height: 4px;

    --navbar-font: 16px MontserratRegular;
    --navbar-height: 90px;
    --navbar-items-spacing: 50px;

    --footer-padding-top: 40px;
    --footer-padding-bottom: 25px;
    --footer-font: 16px MontserratLight;

    scroll-behavior: smooth;

    --side-margin: max(
        calc(50vw - var(--max-page-width) / 2 + var(--min-side-margin)),
        var(--min-side-margin)
    );

    --page-width: calc(100vw - var(--side-margin) * 2);
}

body {
    margin: 0;
    background: url(../svg/bg.svg) no-repeat top center;
    background-size: cover;
    font-family: Montserrat;
}

body > section {
    transition:
        opacity var(--page-change-transition-time),
        display var(--page-change-transition-time) allow-discrete;
}

a {
    text-decoration: none;
}

progress-bar {
    width: 0%;
    height: var(--progress-bar-height);
    background: var(--home-accent-color);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    animation: progress-bar;
    animation-timeline: scroll(root);
}

@keyframes progress-bar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

header {
    height: var(--navbar-height);
    margin: 0 auto;
    padding: 0 var(--min-side-margin);
    max-width: var(--max-page-width);
    margin-bottom: calc(var(--navbar-height) * -1);
    text-align: right;
    font: var(--navbar-font);
    line-height: var(--navbar-height);
    position: relative;
    z-index: 1;
}

header a:not(:first-child) {
    margin-left: var(--navbar-items-spacing);
}

header ul::before {
    content: '';
    display: block;
    flex: auto;
}

header a {
    font: var(--navbar-font);
    color: black;
    text-decoration: none;
}

footer {
    padding-top: var(--footer-padding-top);
    padding-bottom: var(--footer-padding-bottom);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    position: relative;
    word-break: break-all;
}

footer::before {
    content: '';
    display: block;
    box-shadow: var(--cards-box-shadow);
    background: white;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: calc(50% - 50vw);
    top: 0;
    z-index: -1;
}

body > section:not(#home) {
    display: none;
}

footer small {
    font: var(--footer-font);
}

footer small:first-of-type {
    display: block;
}

footer small:last-of-type {
    position: absolute;
    right: var(--side-margin);
    top: 50%;
    transform: translateY(-50%);
}

footer a img {
    margin-top: 10px;
}

footer .back {
    background: url(../svg/back.svg);
    background-size: cover;
    width: var(--back-button-size);
    height: var(--back-button-size);
    position: fixed;
    right: var(--back-button-margin);
    bottom: var(--back-button-margin);
    z-index: 1;
    filter: drop-shadow(0px 0px 5px rgba(var(--home-accent-color-rgb), 0.5));
}

/** -- Change of position of back button when scrolling arrives to footer -- **/

footer {
    view-timeline: --footer-y y;
}

footer .back {
    animation: back-btn-bottom-margin;
    animation-timeline: --footer-y;
    animation-range: entry-crossing 0% entry-crossing 100%;

    --right-unfixed-position:
        var(--back-button-margin);
}

@keyframes back-btn-bottom-margin {
    0% {
        position: fixed;
    }
    0.000001%, 100% {
        position: absolute;
        bottom: calc(100% + var(--back-button-margin));
        right: var(--right-unfixed-position);
    }
}

/** ------------------------------------------------------------------------ **/

@font-face {
    font-family: Montserrat;
    font-weight: 900;
    font-style: normal;
    src: url(../ttf/montserrat/black.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    src: url(../ttf/montserrat/bold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    src: url(../ttf/montserrat/bold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    font-style: normal;
    src: url(../ttf/montserrat/light.ttf);
}

@font-face {
    font-family: MontserratBlack;
    src: url(../ttf/montserrat/black.ttf);
}

@font-face {
    font-family: MontserratLight;
    src: url(../ttf/montserrat/light.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url(../ttf/montserrat/light.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(../ttf/montserrat/bold.ttf);
}

@font-face {
    font-family: MontserratSemiBold;
    src: url(../ttf/montserrat/semi-bold.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(../ttf/montserrat/extra-bold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 800;
    src: url(../ttf/montserrat/extra-bold.ttf);
}

@font-face {
    font-family: MontserratRegular;
    src: url(../ttf/montserrat/regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    src: url(../ttf/montserrat/regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    src: url(../ttf/montserrat/regular.ttf);
}