
:root {
    --colored-text-color: #5853F6;
    --project-tag-text-color: #333333;
    --project-tag-bg-color: #F1F1F1;

    --page-width: 1440px;
    --side-margin: 70px;
    --cards-drop-shadow-blur: 20px;
    --sections-spacing: 140px;
    --navbar-height: 90px;
    --navbar-items-spacing: 50px;
    --welcome-text-line-height: 24pt;
    --project-card-padding: 60px;
    --project-card-border-radius: 30px;
    --project-tag-height: 40px;
    --project-tag-spacing: 16px;
    --footer-padding-top: 40px;
    --footer-padding-bottom: 25px;

    --navbar-font: 16px MontserratRegular;
    --welcome-title-font: 32px MontserratBlack;
    --welcome-text-font: 16px MontserratLight;
    --welcome-bold-font: 16px MontserratExtraBold;
    --section-title-font: 30px MontserratBlack;
    --project-emphasis-font: 16px MontserratExtraBold;
    --project-title-font: 26px MontserratBlack;
    --project-card-font: 16px  MontserratLight;
    --project-tag-font: 14px MontserratSemiBold;
    --footer-font: 16px MontserratLight;

    --cards-drop-shadow-opacity: 0.1;

    --cards-box-shadow:
        rgba(0, 0, 0, var(--cards-drop-shadow-opacity))
        0px 0px var(--cards-drop-shadow-blur);
}

body {
    margin: 0 auto;
    padding: 0 var(--side-margin);
    max-width: var(--page-width);
    background: url(../svg/bg.svg) no-repeat top center;
    background-size: cover;
}

nav {
    height: var(--navbar-height);
    margin: 0 auto;
    padding: 0 var(--side-margin);
    text-align: right;
    font: var(--navbar-font);
    line-height: var(--navbar-height);
}

nav a:not(:first-child) {
    margin-left: var(--navbar-items-spacing);
}

nav ul::before {
    content: '';
    display: block;
    flex: auto;
}

nav li {
    display: block;
    position: relative;
    height: min-content;
    flex: initial;
}

nav a {
    font: var(--navbar-font);
    color: black;
    text-decoration: none;
}

section {
    margin-bottom: var(--sections-spacing);
}

#welcome {
    min-height: 50vh;
}

#welcome h1 {
    font: var(--welcome-title-font);
}

#welcome p {
    font: var(--welcome-text-font);
    line-height: var(--welcome-text-line-height);
    max-width: 800px;
}

h1 {
    font: var(--section-title-font);
}

#welcome b {
    color: var(--colored-text-color);
    font: var(--welcome-bold-font);
}


proj-card {
    font: var(--project-card-font);
    padding: var(--project-card-padding);
    border-radius: var(--project-card-border-radius);
    background: white;
    display: block;
    box-shadow: var(--cards-box-shadow);
}

proj-card b {
    font: var(--project-emphasis-font);
    color: var(--colored-text-color);
}

h2 {
    font: var(--project-title-font);
}

proj-tag {
    font: var(--project-tag-font);
    color: var(--project-tag-text-color);
    background: var(--project-tag-bg-color);
    height: var(--project-tag-height);
    padding: 0 calc(var(--project-tag-height) / 2);
    border-radius: var(--project-tag-height);
    vertical-align: middle;
    margin-right: var(--project-tag-spacing);
    display: inline-block;
    line-height: var(--project-tag-height);

}

footer {
    font: var(--footer-font);
    padding-top: var(--footer-padding-top);
    padding-bottom: var(--footer-padding-bottom);
    position: relative;
}

footer::before {
    content: '';
    display: block;
    box-shadow: var(--cards-box-shadow);
    background: white;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: calc(50% - 50vw);
    top: 0;
    z-index: -1;
}

@font-face {
    font-family: MontserratBlack;
    src: url(../ttf/montserrat/black.ttf);
}

@font-face {
    font-family: MontserratLight;
    src: url(../ttf/montserrat/light.ttf);
}

@font-face {
    font-family: MontserratSemiBold;
    src: url(../ttf/montserrat/semi-bold.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(../ttf/montserrat/extra-bold.ttf);
}

@font-face {
    font-family: MontserratRegular;
    src: url(../ttf/montserrat/regular.ttf);
}