:root {
    --home-accent-color-rgb: 91, 85, 246;
    --home-accent-color: rgb(var(--home-accent-color-rgb));
    --project-tag-text-color: #333333;
    --project-tag-bg-color: #F1F1F1;

    --max-page-width: 1440px;
    --min-side-margin: 70px;
    --page-change-transition-time: 1s ease;
    --back-button-size: 70px;
    --back-button-margin: 20px;

    --sub-section-title-font: 30px MontserratBlack;
    --sub-section-spacing: 140px;

    --cards-drop-shadow-blur: 20px;
    --cards-drop-shadow-opacity: 0.1;
    --cards-box-shadow:
        rgba(0, 0, 0, var(--cards-drop-shadow-opacity))
        0px 0px var(--cards-drop-shadow-blur);

    --progress-bar-height: 4px;

    --navbar-font: 16px MontserratRegular;
    --navbar-height: 90px;
    --navbar-items-spacing: 50px;

    --welcome-title-font: 32px MontserratBlack;
    --welcome-text-font: 16px MontserratLight;
    --welcome-bold-font: 16px MontserratExtraBold;
    --welcome-section-vertical-margin: 400px;
    --welcome-text-line-height: 24px;

    --project-emphasis-font: 16px MontserratExtraBold;
    --project-title-font: 26px MontserratBlack;
    --project-card-font: 16px  MontserratLight;
    --project-tag-font: 14px MontserratSemiBold;
    --project-type-font: 14px MontserratLight;
    --project-card-stroke-width: 4px;
    --project-card-padding: 60px;
    --project-card-border-radius: 30px;
    --project-card-spacing: 60px;
    --project-card-min-height: 350px;
    --project-title-vertical-margin: 12px;
    --project-description-line-height: 24px;
    --project-cover-width: 600px;
    --project-cover-border-radius: 20px;
    --project-tags-vertical-margin: 40px;
    --project-tag-height: 40px;
    --project-tag-spacing: 16px;
    --project-company-logo-margin: 24px;
    --project-card-stroke-transition: 200ms ease;

    --interest-title-font: 28px MontserratBlack;
    --interest-project-name-font: 16px MontserratBold;
    --interest-description-font: 16px MontserratLight;
    --interest-description-line-height: 24px;
    --interest-card-overlay-background-opacity: 0.75;
    --interest-card-hover-transition: 100ms ease;
    --interest-card-border-radius: 20px;
    --interest-card-spacing: 50px;
    --interest-card-width: 500px;
    --interest-card-height: 450px;
    --interest-card-vertical-padding: 70px;
    --interest-card-horizontal-padding: 40px;

    --footer-padding-top: 40px;
    --footer-padding-bottom: 25px;
    --footer-font: 16px MontserratLight;

    scroll-behavior: smooth;

    --side-margin: max(
        calc(50vw - var(--max-page-width) / 2 + var(--min-side-margin)),
        var(--min-side-margin)
    );

    --page-width: calc(100vw - var(--side-margin) * 2);
}

body {
    margin: 0;
    background: url(../svg/bg.svg) no-repeat top center;
    background-size: cover;
    font-family: Montserrat;
}

body > section {
    transition:
        opacity var(--page-change-transition-time),
        display var(--page-change-transition-time) allow-discrete;
}

a {
    text-decoration: none;
}

progress-bar {
    width: 0%;
    height: var(--progress-bar-height);
    background: var(--home-accent-color);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    animation: progress-bar;
    animation-timeline: scroll(root);
}

@keyframes progress-bar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

header {
    height: var(--navbar-height);
    margin: 0 auto;
    padding: 0 var(--min-side-margin);
    max-width: var(--max-page-width);
    margin-bottom: calc(var(--navbar-height) * -1);
    text-align: right;
    font: var(--navbar-font);
    line-height: var(--navbar-height);
    position: relative;
    z-index: 1;
}

header a:not(:first-child) {
    margin-left: var(--navbar-items-spacing);
}

header ul::before {
    content: '';
    display: block;
    flex: auto;
}

header a {
    font: var(--navbar-font);
    color: black;
    text-decoration: none;
}

/* --- UVU PROJECT PAGE ----------------------------------------------------- */

:root {
    --uvu-accent-color-rgb: 255, 138, 0;
    --uvu-accent-color: rgb(var(--uvu-accent-color-rgb));
    --uvu-accent-color-2: #fffcf6;
}

#uvu {
    position: absolute;
    opacity: 0;
    display: none;
}

#uvu:target {
    display: unset;
    position: unset;
    opacity: 1;
}

#uvu > hgroup:first-of-type {
    padding-bottom: 50px;
    padding-top: 140px;
    padding-left: var(--min-side-margin);
    padding-right: var(--min-side-margin);
    background: var(--uvu-accent-color-2);
    margin-top: 0;
}

#uvu h1 {
    color: var(--uvu-accent-color);
    font: var(--uvu-title-font);
    text-align: center;
    font: 32px MontserratBlack;
    margin: 0;
}

/* video iframe */
#uvu > iframe:first-of-type {
    --video-width: min(
        1111px,
        calc(100vw - var(--side-margin) * 2)
    );
    --video-height-to-width-ratio: 624 / 1111;
    --video-height: calc(var(--video-width) * var(--video-height-to-width-ratio));
    --video-side-margin: calc(50vw - var(--video-width) / 2);

    width: var(--video-width);
    height: var(--video-height);

    background: white;
    border-top: 40px solid white;
    border-bottom: 40px solid white;
    border-left: var(--video-side-margin) solid white;
    border-right: var(--video-side-margin) solid white;
}

#uvu .project_overview {
    margin-top: -5px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    background-color: var(--uvu-accent-color-2);
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    color: #4B3300;
}

@media (max-width: 700px) {
    #uvu .project_overview {
        display: block;
    }
    #uvu .project_overview aside {
        margin-top: 40px;
    }
}

#uvu .project_overview > h3,
#uvu .project_overview > p {
    grid-column: 1 / 2;
    margin-bottom: 0;
}


#uvu .project_overview h2 {
    font: 26px MontserratBlack;
    color: var(--uvu-accent-color);
    text-align: center;
    grid-column: 1 / 3;
}

#uvu .project_overview aside {
    grid-column: 2 / 3;
    grid-row-start: 2;
    grid-row-end: 999;
}

#uvu .project_overview h3 {
    font: 22px MontserratBlack;
    line-height: 40px;
    margin-bottom: 1px;
}

#uvu .project_overview p {
    font: 16px MontserratLight;
    line-height: 26px;
    max-width: 650px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#uvu .project_overview em {
    font: 16px MontserratBold;
    color: var(--uvu-accent-color);
    font-style: normal;
}

#uvu .project_overview h4 {
    font: 18px MontserratBlack;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

#uvu .project_overview aside p {
    margin-top: 0;
    margin-bottom: 12px;
}

#uvu .design_process {
    background: #FCFCFC;
    padding: 40px var(--side-margin);
}

#uvu .design_process h2 {
    font: 26px MontserratBlack;
    color: var(--uvu-accent-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

#uvu .design_process ol {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    list-style-position: inside;
    color: rgba(0, 0, 0, .5);
    font: 14px MontserratLight;
    line-height: 34px;
    gap: 40px;
    position: relative;
    z-index: 1;
}

@media (max-width: 1280px) {
    #uvu .design_process ol {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    #uvu .design_process ol {
        grid-template-columns: 1fr 1fr;
    }
}

#uvu .design_process ol > li {
    position: relative;
}

#uvu .design_process ol > li::marker {
    content: counter(list-item);
}

#uvu .design_process ol > li > img {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    user-select: none;
}

#uvu .design_process ol > li > em {
    margin-left: 12px;
}

#uvu .design_process ol > li::marker,
#uvu .design_process ol em {
    font: 20px MontserratBlack;
    line-height: 39px;
    color: var(--accent-color);
    position: relative;
}

#uvu .design_process ol,
#uvu .design_process ul {
    padding: 0;
}

#uvu .design_process ol ul {
    margin-top: 14px;
}

#uvu .design_process ol ul li {
    list-style: none;
}

#uvu .further_research {
    background: white;
    color: #4B3300;
    padding: 40px var(--side-margin);
    font: 16px MontserratLight;
    line-height: 24px;
}

#uvu .further_research h2 {
    font: 26px MontserratBlack;
    color: var(--uvu-accent-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

#uvu .further_research > div {
    display: grid;
    gap: 30px;
}

@media (max-width: 1280px) {
    #uvu .further_research > div {
        grid-template-columns: 1fr !important;
    }

    #uvu .further_research > div > section {
        grid-row: unset !important;
        grid-column: unset !important;
    }
}

#uvu .further_research > div:not(:first-of-type) {
    margin-top: 30px;
}

#uvu .further_research section {
    border-radius: 20px;
    padding: 36px;
}

#uvu .further_research h3 {
    font: 50px MontserratBlack;
    line-height: 40px;
    opacity: 0.2;
    margin-top: -0.5em;
    margin-left: -0.5ch;
    margin-bottom: 32px;
}

#uvu .further_research b {
    font-family: MontserratBold;
}

#uvu .further_research h4 {
    font: 22px MontserratBlack;
    line-height: 40px;
    margin-bottom: 12px;
}

#uvu .further_research h4 + p {
    margin-top: 0;
}

#uvu .further_research section figure {
    width: 100%;
    max-width: 720px;
    margin: 20px auto;
}

#uvu .further_research section figure img {
    width: 100%;
}

#uvu .further_research section [data-legend-markers] {
    display: grid;
    grid-template-columns: min-content max-content min-content max-content;
    width: fit-content;
    margin: 20px auto;
}

#uvu .further_research section [data-legend-markers] dt {
    text-indent: -9999px;
    width: .7em;
    height: .7em;
    background: var(--color);
    margin-top: .4em;
}

#uvu .further_research section [data-legend-markers="round"] dt {
    border-radius: 50%;
}

#uvu .further_research section [data-legend-markers] dd {
    margin-left: 1ch;
    margin-right: 1ch;
}

#uvu .further_research section small {
    font-size: 15px;
    display: block;
}

uvu-journeys-chart {
    display: grid;
    margin-top: 23px;
    margin-bottom: 23px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
}

@media (min-width: 800px) and (max-width: 1280px) {
    uvu-journeys-chart {
        grid-template-columns: unset;
        grid-auto-flow: column;
    }
}

#uvu .further_research h5 {
    font: 16px MontserratSemiBold;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

#uvu .further_research em {
    color: var(--uvu-accent-color);
    font-family: MontserratBold;
    font-style: normal;
}

#uvu .further_research em b {
    font-family: MontserratBlack;
}

#uvu .primary_research {
    background: white;
    color: #4B3300;
    padding: 40px var(--side-margin);
    align-items: center;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 40px;
    grid-auto-flow: dense;
}

#uvu .primary_research h3 {
    font: 50px MontserratBlack;
    line-height: 40px;
    opacity: 0.2;
    margin-top: -0.5em;
    margin-left: -0.5ch;
    grid-column: span 3;
}

#uvu .primary_research > img {
    width: calc(var(--page-width) - 720px);
    max-width: 470px;
    min-width: 200px;

    height: calc(var(--page-width) * 0.2);
    min-height: 200px;
    max-height: 280px;
    border-radius: 22px;
    object-fit: cover;
}

#uvu .primary_research > img:nth-of-type(2n) {
    grid-column: 3 / 4;
}

#uvu .primary_research hgroup {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0 40px;
    grid-column: span 2;
}

@media (max-width: 1280px) {
    #uvu .primary_research hgroup {
        background-size: 100% 90%;
    }
}

@media (max-width: 960px) {
    #uvu .primary_research hgroup {
        padding: 0;
    }
}

@media (max-width: 720px) {
    #uvu .primary_research hgroup {
        background-image: none !important;
    }
}

#uvu .primary_research h4 {
    font-weight: 900;
    font-size: 18px;
}

#uvu .primary_research p {
    line-height: 24px;
}

#uvu .primary_research em {
    font-weight: bold;
    font-style: normal;
    color: var(--uvu-accent-color);
}

#uvu:not(:target) ~ footer .back.uvu {
    display: none;
}

#uvu:target ~ progress-bar {
    background: var(--uvu-accent-color);
}

/* --- / UVU PROJECT PAGE --------------------------------------------------- */

/* --- HOME PAGE ------------------------------------------------------------ */

#home {
    position: relative;
    opacity: 1;
}

:target ~ #home {
    position: absolute;
    opacity: 0;
    display: none;
}

:target ~ footer .back.home {
    display: none;
}

#home > section {
    max-width: var(--max-page-width);
    margin: 0 var(--side-margin);
}

#home section:not(#welcome) {
    padding-top: var(--sub-section-spacing);
}

#home section:last-of-type {
    padding-bottom: var(--sub-section-spacing);
}

#welcome::before, #welcome::after {
    content: "";
    display: block;
    height: var(--welcome-section-vertical-margin);
    max-height: 30vh;
}

#welcome h1 {
    font: var(--welcome-title-font);
}

#welcome p {
    font: var(--welcome-text-font);
    line-height: var(--welcome-text-line-height);
    max-width: 800px;
}

#welcome p img {
    vertical-align: middle;
}

#home h1 {
    font: var(--sub-section-title-font);
}

#welcome em {
    color: var(--home-accent-color);
    font: var(--welcome-bold-font);
}

proj-card {
    font: var(--project-card-font);
    padding: var(--project-card-padding);
    padding-right: calc(var(--project-card-padding) * 2 + var(--project-cover-width));
    border-radius: var(--project-card-border-radius);
    background: white;
    color: black;
    display: block;
    box-shadow: var(--cards-box-shadow);
    position: relative;
    margin-bottom: var(--project-card-spacing);
    min-height: var(--project-card-min-height);
    border: var(--project-card-stroke-width) solid transparent;
    transition: border-color var(--project-card-stroke-transition);
}

@media (max-width: 1280px) {
    proj-card {
        padding-right: var(--project-card-padding);
    }
}

proj-card:hover {
    cursor: pointer;
    border-color: var(--home-accent-color);
}

proj-cover {
    width: var(--project-cover-width);
    border-radius: var(--project-cover-border-radius);
    overflow: hidden;
    position: absolute;
    display: block;
    height: calc(100% - var(--project-card-padding) * 2);
    right: var(--project-card-padding);
    user-select: none;
    pointer-events: none;
}

@media (max-width: 1280px) {
    proj-cover {
        position: relative;
        right: unset;
        width: 100%;
        height: 400px;
        max-height: 50vw;
        margin-bottom: var(--project-card-padding);
    }
}

proj-cover img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    image-rendering: crisp-edges;
}

proj-card em {
    font: var(--project-emphasis-font);
    color: var(--home-accent-color);
}

#home h2 {
    margin: var(--project-title-vertical-margin) 0;
    font: var(--project-title-font);
}

proj-tags {
    display: block;
}

proj-card > p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: var(--project-description-line-height);
}

proj-tags {
    margin-bottom: calc(var(--project-tag-spacing) * -1);
    padding: var(--project-tags-vertical-margin) 0;
}

proj-tags b {
    font: var(--project-tag-font);
    color: var(--project-tag-text-color);
    background: var(--project-tag-bg-color);
    height: var(--project-tag-height);
    padding: 0 calc(var(--project-tag-height) / 2);
    border-radius: var(--project-tag-height);
    vertical-align: middle;
    margin-right: var(--project-tag-spacing);
    margin-bottom: var(--project-tag-spacing);
    display: inline-block;
    line-height: var(--project-tag-height);
}

proj-card > img:last-of-type {
    vertical-align: middle;
    margin-right: var(--project-company-logo-margin);
}

proj-card > small:last-of-type {
    font: var(--project-type-font);
    color: var(--home-accent-color);
}

interest-grid {
    display: grid;
    grid-auto-rows: var(--interest-card-height);
    grid-template-columns: var(--interest-card-width) 1fr var(--interest-card-width);
    gap: var(--interest-card-spacing);
}

@media (max-width: 1280px) {
    interest-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    interest-grid {
        grid-template-columns: 1fr;
    }
}

interest-card {
    display: block;
    position: relative;
    border-radius: var(--interest-card-border-radius);
    background: black;
    color: white;
    overflow: hidden;
    padding: var(--interest-card-vertical-padding) var(--interest-card-horizontal-padding);
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;
    gap: 0;
}

interest-card:nth-child(4n + 1) {
    grid-column: 1 / 3;
}

interest-card:nth-child(4n) {
    grid-column: 2 / 4;
}

@media (max-width: 1280px) {
    interest-card:nth-child(4n + 1),
    interest-card:nth-child(4n) {
        grid-column: unset;
    }
}


interest-card::before {
    content: '';
    display: block;
}

interest-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    transition: opacity var(--interest-card-hover-transition), filter var(--interest-card-hover-transition);
    filter: blur(0px);
}

interest-card:hover img {
    opacity: calc(1 - var(--interest-card-overlay-background-opacity));
    filter: blur(5px);
}

interest-card > :not(img) {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity var(--interest-card-hover-transition);
}

interest-card:hover > :not(img) {
    opacity: 1;
}

interest-card h3 {
    font: var(--interest-title-font);
    margin: 0;
}

interest-card h4 {
    font: var(--interest-project-name-font);
    margin-bottom: 0;
}

interest-card p {
    font: var(--interest-description-font);
    margin-bottom: 0;
    line-height: var(--interest-description-line-height);
}

/* --- / HOME PAGE ---------------------------------------------------------- */

footer {
    padding-top: var(--footer-padding-top);
    padding-bottom: var(--footer-padding-bottom);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    position: relative;
    word-break: break-all;
}

footer::before {
    content: '';
    display: block;
    box-shadow: var(--cards-box-shadow);
    background: white;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: calc(50% - 50vw);
    top: 0;
    z-index: -1;
}

footer small {
    font: var(--footer-font);
}

footer small:first-of-type {
    display: block;
}

footer small:last-of-type {
    position: absolute;
    right: var(--side-margin);
    top: 50%;
    transform: translateY(-50%);
}

footer a img {
    margin-top: 10px;
}

footer .back {
    background: url(../svg/back.svg);
    background-size: cover;
    width: var(--back-button-size);
    height: var(--back-button-size);
    position: fixed;
    right: var(--back-button-margin);
    bottom: var(--back-button-margin);
    z-index: 1;
    filter: drop-shadow(0px 0px 5px rgba(var(--home-accent-color-rgb), 0.5));
}

/** -- Change of position of back button when scrolling arrives to footer -- **/

footer {
    view-timeline: --footer-y y;
}

footer .back {
    animation: back-btn-bottom-margin;
    animation-timeline: --footer-y;
    animation-range: entry-crossing 0% entry-crossing 100%;

    --right-unfixed-position:
        var(--back-button-margin);
}

@keyframes back-btn-bottom-margin {
    0% {
        position: fixed;
    }
    0.000001%, 100% {
        position: absolute;
        bottom: calc(100% + var(--back-button-margin));
        right: var(--right-unfixed-position);
    }
}

/** ------------------------------------------------------------------------ **/

@font-face {
    font-family: Montserrat;
    font-weight: 900;
    font-style: normal;
    src: url(../ttf/montserrat/black.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    src: url(../ttf/montserrat/bold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    src: url(../ttf/montserrat/bold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    font-style: normal;
    src: url(../ttf/montserrat/light.ttf);
}

@font-face {
    font-family: MontserratBlack;
    src: url(../ttf/montserrat/black.ttf);
}

@font-face {
    font-family: MontserratLight;
    src: url(../ttf/montserrat/light.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(../ttf/montserrat/bold.ttf);
}

@font-face {
    font-family: MontserratSemiBold;
    src: url(../ttf/montserrat/semi-bold.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(../ttf/montserrat/extra-bold.ttf);
}

@font-face {
    font-family: MontserratRegular;
    src: url(../ttf/montserrat/regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    src: url(../ttf/montserrat/regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    src: url(../ttf/montserrat/regular.ttf);
}