
body {
    margin: 0 0;
    background: url(../svg/bg.svg) no-repeat top center;
    background-size: cover;
}

#coming-soon {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font: 80px MontserratBlack;
}

@font-face {
    font-family: MontserratBlack;
    src: url(../ttf/montserrat/black.ttf);
}
