:root {
    --uvu-accent-color-rgb: 255, 138, 0;
    --uvu-accent-color: rgb(var(--uvu-accent-color-rgb));
    --uvu-accent-color-2: #fffcf6;
}

#uvu {
    position: absolute;
    opacity: 0;
    display: none;
}

#uvu:target {
    display: unset;
    position: unset;
    opacity: 1;
}

#uvu > hgroup:first-of-type {
    padding-bottom: 50px;
    padding-top: 140px;
    padding-left: var(--min-side-margin);
    padding-right: var(--min-side-margin);
    background: var(--uvu-accent-color-2);
    margin-top: 0;
}

#uvu h1 {
    color: var(--uvu-accent-color);
    font: var(--uvu-title-font);
    text-align: center;
    font: 32px MontserratBlack;
    margin: 0;
}

/* video iframe */
#uvu > iframe:first-of-type {
    --video-width: min(
        1111px,
        calc(100vw - var(--side-margin) * 2)
    );
    --video-height-to-width-ratio: 624 / 1111;
    --video-height: calc(var(--video-width) * var(--video-height-to-width-ratio));
    --video-side-margin: calc(50vw - var(--video-width) / 2);

    width: var(--video-width);
    height: var(--video-height);

    background: white;
    border-top: 40px solid white;
    border-bottom: 40px solid white;
    border-left: var(--video-side-margin) solid white;
    border-right: var(--video-side-margin) solid white;
}

#uvu section.project_overview {
    margin-top: -5px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    background-color: var(--uvu-accent-color-2);
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    color: #4B3300;
}

@media (max-width: 700px) {
    #uvu section.project_overview {
        display: block;
    }
    #uvu section.project_overview aside {
        margin-top: 40px;
    }
}

#uvu section.project_overview > h3,
#uvu section.project_overview > p {
    grid-column: 1 / 2;
    margin-bottom: 0;
}


#uvu section.project_overview h2 {
    font: 26px MontserratBlack;
    color: var(--uvu-accent-color);
    text-align: center;
    grid-column: 1 / 3;
}

#uvu section.project_overview aside {
    grid-column: 2 / 3;
    grid-row-start: 2;
    grid-row-end: 999;
}

#uvu section.project_overview h3 {
    font: 22px MontserratBlack;
    line-height: 40px;
    margin-bottom: 1px;
}

#uvu section.project_overview p {
    font: 16px MontserratLight;
    line-height: 26px;
    max-width: 650px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#uvu section.project_overview em {
    font: 16px MontserratBold;
    color: var(--uvu-accent-color);
    font-style: normal;
}

#uvu section.project_overview h4 {
    font: 18px MontserratBlack;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

#uvu section.project_overview aside p {
    margin-top: 0;
    margin-bottom: 12px;
}

#uvu section.design_process {
    background: #FCFCFC;
    padding: 40px var(--side-margin);
}

#uvu section.design_process h2 {
    font: 26px MontserratBlack;
    color: var(--uvu-accent-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

#uvu section.design_process ol {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    list-style-position: inside;
    color: rgba(0, 0, 0, .5);
    font: 14px MontserratLight;
    line-height: 34px;
    gap: 40px;
    position: relative;
    z-index: 1;
}

@media (max-width: 1280px) {
    #uvu section.design_process ol {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    #uvu section.design_process ol {
        grid-template-columns: 1fr 1fr;
    }
}

#uvu section.design_process ol > li {
    position: relative;
}

#uvu section.design_process ol > li::marker {
    content: counter(list-item);
}

#uvu section.design_process ol > li > img {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    user-select: none;
}

#uvu section.design_process ol > li > em {
    margin-left: 12px;
}

#uvu section.design_process ol > li::marker,
#uvu section.design_process ol em {
    font: 20px MontserratBlack;
    line-height: 39px;
    color: var(--accent-color);
    position: relative;
}

#uvu section.design_process ol,
#uvu section.design_process ul {
    padding: 0;
}

#uvu section.design_process ol ul {
    margin-top: 14px;
}

#uvu section.design_process ol ul li {
    list-style: none;
}

#uvu section.further_research {
    background: white;
    color: #4B3300;
    padding: 40px var(--side-margin);
    font: 16px MontserratLight;
    line-height: 24px;
}

#uvu section.further_research h2 {
    font: 26px MontserratBlack;
    color: var(--uvu-accent-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

#uvu section.further_research > div {
    display: grid;
    gap: 30px;
}

@media (max-width: 1280px) {
    #uvu section.further_research > div {
        grid-template-columns: 1fr !important;
    }

    #uvu section.further_research > div > section {
        grid-row: unset !important;
        grid-column: unset !important;
    }
}

#uvu section.further_research > div:not(:first-of-type) {
    margin-top: 30px;
}

#uvu section.further_research section {
    border-radius: 20px;
    padding: 36px;
}

#uvu section.further_research h3 {
    font: 50px MontserratBlack;
    line-height: 40px;
    opacity: 0.2;
    margin-top: -0.5em;
    margin-left: -0.5ch;
    margin-bottom: 32px;
}

#uvu section.further_research b {
    font-family: MontserratBold;
}

#uvu section.further_research h4 {
    font: 22px MontserratBlack;
    line-height: 40px;
    margin-bottom: 12px;
}

#uvu section.further_research h4 + p {
    margin-top: 0;
}

#uvu section.further_research section figure {
    width: 100%;
    max-width: 720px;
    margin: 20px auto;
}

#uvu section.further_research section figure img {
    width: 100%;
}

#uvu section.further_research section [data-legend-markers] {
    display: grid;
    grid-template-columns: min-content max-content min-content max-content;
    width: fit-content;
    margin: 20px auto;
}

#uvu section.further_research section [data-legend-markers] dt {
    text-indent: -9999px;
    width: .7em;
    height: .7em;
    background: var(--color);
    margin-top: .4em;
}

#uvu section.further_research section [data-legend-markers="round"] dt {
    border-radius: 50%;
}

#uvu section.further_research section [data-legend-markers] dd {
    margin-left: 1ch;
    margin-right: 1ch;
}

#uvu section.further_research section small {
    font-size: 15px;
    display: block;
}

uvu-journeys-chart {
    display: grid;
    margin-top: 23px;
    margin-bottom: 23px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
}

@media (min-width: 800px) and (max-width: 1280px) {
    uvu-journeys-chart {
        grid-template-columns: unset;
        grid-auto-flow: column;
    }
}

#uvu section.further_research h5 {
    font: 16px MontserratSemiBold;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

#uvu section.further_research em {
    color: var(--uvu-accent-color);
    font-family: MontserratBold;
    font-style: normal;
}

#uvu section.further_research em b {
    font-family: MontserratBlack;
}

#uvu section.primary_research {
    --uvu-pr-img-width: clamp(220px, calc(var(--page-width) - 720px), 470px);
    --uvu-pr-img-height-ratio: 281 / 470;
    --uvu-pr-img-height:
        clamp(
            180px,
            calc(var(--uvu-pr-img-height-ratio) * var(--uvu-pr-img-width)),
            300px
        );

    background: white;
    color: #4B3300;
    padding: 40px var(--side-margin);
    align-items: center;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 40px;
    grid-auto-flow: dense;
}

#uvu section.primary_research h3 {
    font: 50px MontserratBlack;
    line-height: 40px;
    opacity: 0.2;
    margin-top: -0.5em;
    margin-left: -0.5ch;
    margin-bottom: 0;
    grid-column: span 3;
}

#uvu section.primary_research > img {
    width: var(--uvu-pr-img-width);
    height: var(--uvu-pr-img-height);
    border-radius: 22px;
    object-fit: cover;
}

#uvu section.primary_research > img:nth-of-type(2n) {
    grid-column: 3 / 4;
}

#uvu section.primary_research hgroup {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0 40px;
    grid-column: span 2;
    min-height: var(--uvu-pr-img-height);
    display: grid;
    grid-auto-rows: min-content;
    align-content: center;
    gap: 10px;
}

#uvu section.primary_research hgroup > * {
    margin: 0;
}

@media (max-width: 1280px) {
    #uvu section.primary_research hgroup {
        background-size: 100% 90%;
    }
}

@media (max-width: 960px) {
    #uvu section.primary_research hgroup {
        padding: 0;
    }
}

@media (max-width: 720px) {
    #uvu section.primary_research hgroup {
        background-size: 100% 70%;
    }
}

#uvu section.primary_research h4 {
    font-weight: 900;
    font-size: 18px;
}

#uvu section.primary_research p {
    line-height: 24px;
}

#uvu section.primary_research em {
    font-weight: bold;
    font-style: normal;
    color: var(--uvu-accent-color);
}

#uvu section.data_analysis {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 37px;
    background: white;
    color: #4B3300;
    padding: 40px var(--side-margin);
    padding-top: 100px;
    position: relative;
}

@media (max-width: 1280px) {
    #uvu section.data_analysis {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
    }

    #uvu section.data_analysis figure.image:first-of-type {
        grid-row: unset !important;
        grid-column: 2 / 4 !important;
    }

    #uvu section.data_analysis figure.image:not(:first-of-type) {
        grid-row: unset !important;
        grid-column: span 2 !important;
    }

    #uvu section.data_analysis figure.image {
        height: clamp(200px, calc(var(--page-width) / 3), 300px);
    }

    #uvu section.data_analysis figure.text {
        grid-row: unset !important;
        grid-column: span 4 !important;
    }
}

#uvu section.data_analysis h3 {
    font: 50px MontserratBlack;
    line-height: 40px;
    opacity: 0.2;
    position: absolute;
    margin: 0;
    top: 20px;
    left: var(--side-margin)
}

#uvu section.data_analysis figure {
    margin: 0;
}

#uvu section.data_analysis figure.image {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    position: relative;
    background: #FFB923;
    border-radius: 10px;
    overflow: hidden;
}

#uvu section.data_analysis figure.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
}

#uvu section.data_analysis figure.image figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 18px;
    z-index: 1;
    text-shadow: 0px 3.486px 8.715px rgba(0, 0, 0, 0.20);
}

#uvu section.data_analysis figure.text {
    background: #FF8A00;
    font-size: 16px;
    line-height: 24px;
    border-radius: 20px;
    padding: 27px;
    color: white;
}

#uvu section.data_analysis figure.text h4 {
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    margin-block-start: 7px;
    margin-block-end: 7px;
}

#uvu section.data_analysis figure.text ul {
    margin-block-start: 8px;
    padding: 0;
}

#uvu section.data_analysis figure.text li {
    margin-bottom: 16px;
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

#uvu section.empathise {
    background-color: #FFB923;
    padding: 40px var(--side-margin);
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    position: relative;
}

#uvu section.empathise::before,
#uvu section.empathise::after {
    content: "";
    display: block;
    width: 257px;
    height: 136px;
    background: url(../svg/uvu/car-bg-icon.svg) no-repeat;
}

#uvu section.empathise::before {
    position: absolute;
    right: calc(var(--side-margin) - 90px);
    top: 180px;
}

#uvu section.empathise::after {
    position: absolute;
    left: calc(var(--side-margin) - 90px);
    bottom: 90px;
}

@media (max-width: 1000px) {
    #uvu section.empathise {
        grid-template-columns: min-content 1fr;
    }
}

#uvu section.empathise h2 {
    color: white;
    font-size: 26px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    grid-column: span 3;
}

@media (max-width: 1000px) {
    #uvu section.empathise h2 {
        grid-column: span 2;
    }
}

#uvu section.empathise h3 {
    color: white;
    font-size: 22px;
    font-weight: 900;
    line-height: 40px;
    grid-column: span 3;
}

@media (max-width: 1000px) {
    #uvu section.empathise h3 {
        grid-column: span 2;
    }
}

#uvu section.empathise figure {
    margin: 0;
    border-radius: 19px;
    position: relative;
    z-index: 1;
}

#uvu section.empathise figure.persona {
    background: #FF7C17;
    width: 300px;
    height: 455px;
    text-align: center;
    color: white;
    position: relative;
    grid-row: span 2;
    margin-bottom: 40px;
    margin: 0;
    margin-right: 60px;
    align-self: center;
}

@media (max-width: 1280px) {
    #uvu section.empathise figure.persona {
        margin-right: 40px;
    }
}

#uvu section.empathise figure.persona img {
    width: 150px;
    background: white;
    border-radius: 50%;
    padding: 10px;
    margin-top: 40px;
}

#uvu section.empathise figure.persona h4 {
    font-weight: 900;
    font-size: 20px;
}

#uvu section.empathise figure.persona h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 7px;
}

#uvu section.empathise figure.persona aside {
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#uvu section.empathise figure.persona aside em {
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    display: block;
}

#uvu section.empathise figure.motivations {
    background: white;
    padding: 40px 23px;
}

#uvu section.empathise figure.motivations h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
}

#uvu section.empathise figure.motivations label {
    margin-top: 24px;
    display: block;
}

#uvu section.empathise figure.motivations progress {
    width: 220px;
    height: 12px;
    border-radius: 14px;
    overflow: hidden;

    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (max-width: 1000px) {
    #uvu section.empathise figure.motivations {
        width: min-content;
    }
}

#uvu section.empathise figure.motivations ::-webkit-progress-value {
    background-color: #FF7C17;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#uvu section.empathise figure.motivations ::-moz-progress-bar {
    /** Need to duplicate the same rules of ::-webkit-progress-value because for
    some reason Chromim refuses to accept a selector that includes both
    ::-webkit-progress-value and ::-moz-progress-bar separated by a comma **/
    background-color: #FF7C17;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#uvu section.empathise figure.motivations ::-webkit-progress-bar {
    background-color: rgba(217, 217, 217, 0.50);
}

#uvu section.empathise figure.quote {
    background: #F6EAD1;
    margin: 0;
    margin-left: 100px;
    margin-bottom: 27px;
    height: min-content;
    font-size: 18px;
    line-height: 28px;
    font-weight: 900;
    align-self: end;
}

@media (max-width: 1280px) {
    #uvu section.empathise figure.quote {
        margin-left: 40px;
    }
}

@media (max-width: 1000px) {
    #uvu section.empathise figure.quote {
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 0;
    }
}

#uvu section.empathise blockquote {
    margin: 60px;
}

#uvu section.empathise figure.personality {
    grid-column: span 2;
    background-color: white;
    padding: 45px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 52px;
    height: min-content;
    margin-bottom: 28px;
}

@media (max-width: 1280px) {
    #uvu section.empathise figure.personality {
        margin-top: 40px;
    }
}

#uvu section.empathise figure.personality h4 {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}

#uvu section.empathise figure.personality p {
    margin-bottom: 0;
}

#uvu section.storyboard {
    --uvu-sb-columns: 4;
    --uvu-sb-cell-max-width: 400px;

    --uvu-sb-cell-width: min(
        calc(var(--page-width) / var(--uvu-sb-columns)),
        var(--uvu-sb-cell-max-width)
    );
    --uvu-sb-cell-height-ratio: 214.5 / 246.8;
    --uvu-sb-cell-height: calc(var(--uvu-sb-cell-height-ratio) * var(--uvu-sb-cell-width));
    --uvu-sb-grid-width: calc(var(--uvu-sb-cell-width) * var(--uvu-sb-columns));
    --uvu-sb-grid-side-margin: calc((var(--page-width) - var(--uvu-sb-grid-width)) / 2);
    --uvu-sb-grid-border-width: 3px;

    background: white;
    color: #4B3300;
    padding: 40px calc(var(--side-margin) + var(--uvu-sb-grid-side-margin));
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(var(--uvu-sb-columns), 1fr);
    position: relative;
    gap: var(--uvu-sb-grid-border-width);
}

@media (max-width: 1280px) {
    #uvu section.storyboard {
        --uvu-sb-columns: 3;
    }
}

@media (max-width: 1000px) {
    #uvu section.storyboard {
        --uvu-sb-columns: 2;
    }
}

@media (max-width: 720px) {
    #uvu section.storyboard {
        --uvu-sb-columns: 1;
    }
}

#uvu section.storyboard h3 {
    font-weight: 900;
    font-size: 22px;
    line-height: 40px;
    position: absolute;
    margin: 0;
    top: 40px;
    left: var(--side-margin);
}

#uvu section.storyboard::before {
    display: block;
    content: "";
    position: absolute;
    width: calc(var(--uvu-sb-grid-width) - var(--uvu-sb-grid-border-width));
    height: calc(100% - 130px - var(--uvu-sb-grid-border-width));
    top: 90px;
    left: calc(var(--side-margin) + var(--uvu-sb-grid-side-margin));
    z-index: 1;
    border: var(--uvu-sb-grid-border-width) solid #4B3300;
    box-shadow: 0 0 0 10px white;
    border-radius: 10px;
    user-select: none;
    pointer-events: none;
}

#uvu section.storyboard figure {
    width: 100%;
    max-width: var(--uvu-sb-cell-max-width);
    height: var(--uvu-sb-cell-height);
    position: relative;
    outline: var(--uvu-sb-grid-border-width) solid #4B3300;
    margin: 0;
    display: block;
    overflow: hidden;
    background: white;
}

#uvu section.storyboard figure img {
    image-rendering: crisp-edges;
}

#uvu section.storyboard img.left {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#uvu section.storyboard img.right {
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#uvu section.storyboard img.top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#uvu section.storyboard img.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#uvu section.storyboard img.bottom-left {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#uvu section.storyboard figcaption h5 {
    font-weight: 800;
    margin: 0;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 2px;
    background-color: white;
    display: inline;
}

#uvu section.storyboard figcaption h5::after {
    content: "";
    display: block;
}

#uvu section.storyboard figcaption p {
    margin: 0;
    display: inline;
    background-color: white;
}

#uvu section.storyboard figcaption.left {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

#uvu section.storyboard figcaption.right {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

#uvu section.storyboard figcaption.top {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

#uvu section.storyboard figcaption.top-right {
    position: absolute;
    right: 5%;
    top: 5%;
}

#uvu section.storyboard figcaption.bottom {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

#uvu section.storyboard figcaption.horizontal-flow {
    padding-left: 40px;
}

#uvu section.storyboard figcaption.horizontal-flow h5 {
    position: absolute;
    left: 0;
}

#uvu:not(:target) ~ footer .back.uvu {
    display: none;
}

#uvu:target ~ progress-bar {
    background: var(--uvu-accent-color);
}
